@import "reset.css";

body {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calender > caption {
  padding: 20px 0;
  font-size: 85px;
  font-weight: 800;
  color: #be1e2e;
}

.calender caption p {
  display: inline-block;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  text-align: right;
  font-weight: 600;
  padding-right: 10px;
  margin-left: 80px;
}

.monthCalender {
  margin-right: 20px;
}

.monthCalender caption {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 10px;
}

.monthCalender th {
  font-weight: 800;
  padding-right: 8px;
  padding-bottom: 5px;
}

.monthCalender td {
  padding-bottom: 20px;
}

.holiday {
  color: red;
}
